<nav class="navbar navbar-expand-lg navbar-light bg-white apt-nav">
  <div class="row no-gutters justify-content-center w-100">
    <div class="col-auto text-center">
      <a class="navbar-brand m-0">Aperture</a>
    </div>
    <div class="apt-nav-help">
      <a role="button" class="btn btn-dark btn-sm" href="https://aperture.run/guides" target="_blank" style="font-style: normal; text-transform: none;">Help</a>
    </div>
  </div>
</nav>